/* About Section Styles */
.about {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.about-description,
.about-image {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.about-description {
    padding: 4rem 8rem 6rem 6rem;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1.125rem;
    line-height: 1.6;
}

.about-image {
    text-align: right;
    position: relative;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.about-image-overlay {
    position: absolute;
    margin-top: -26rem;
    margin-left: -26rem;
}

.readmore-about {
    margin-top: 6rem;
}

.readmore-about a {
    font-family: 'Merriweather', serif;
    color: #FFD700;
    text-decoration: none;
    padding: 1rem 4rem;
    border: 1px solid #FFD700;
    font-size: 14px;
    transition: all 0.3s ease;
}

.readmore-about a:hover {
    background-color: #FFD700;
    color: #131314;
}
