/* Navbar Styles */
.navbar {
    padding-block: 3rem;
    padding-inline: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Italiana', serif;
}

.nav-logo {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 70px;
}

.nav-links a {
    color: white;
    font-family: 'Italiana', serif;
    font-size: 1.125rem;
    text-decoration: none;
}

.nav-links a:hover {
    color: white;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links a {
    color: white;
    text-decoration: none;
}

.social-links i {
    height: 1.5rem;
    width: 1.5rem;
}
