:root {
    --font-family-italiana: "Italiana", serif;
    --font-family-merriweather: "Merriweather", serif;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gold: #ffd700;
    --color-gray: #454545;
    --color-overlay: rgba(0, 0, 0, 0.5);
    --font-size-large: 64px;
    --font-size-medium: 1.125rem;
    --font-size-small: 14px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

@import url('/assets/css/components/acak.css');

p {
  margin-bottom: 0 !important;
}

/* Font Styles */
.font-italiana {
    font-family: var(--font-family-italiana);
    font-weight: var(--font-weight-regular);
    font-style: normal;
}

.merriweather-light {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-light);
    font-style: normal;
}

.merriweather-regular {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-regular);
    font-style: normal;
}

.merriweather-bold {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-bold);
    font-style: normal;
}

.merriweather-black {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-black);
    font-style: normal;
}

.merriweather-light-italic {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-light);
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-regular);
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-bold);
    font-style: italic;
}

.merriweather-black-italic {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-black);
    font-style: italic;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-merriweather);
    overflow-x: hidden;
    background-color: var(--color-black) !important;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Navbar Styles */



/* Stick Wrapper Styles */
.stick-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -2rem; /* Adjust to connect hero and history sections */
    height: 28vh;
    background-color: var(--color-black);
}

.stick {
    background: linear-gradient(to bottom, var(--color-gray), var(--color-black));
    width: 0.1rem;
    gap: 0px;
    opacity: 1;
}

