.font-italiana {
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
}

.hero-title h1 {
    font-family: Italiana;
    font-size: 120px;
    font-weight: 400;
    line-height: 141.36px;
    letter-spacing: 0.1em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 42rem;
    margin: 0;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

.stick-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -2rem; /* Adjust to connect hero and history sections */
    height: 28vh;
}

.stick {
    background: linear-gradient(to bottom, #454545, #131314);
    width: 1px;
    gap: 0px;
    opacity: 1;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
    background-color: #131314;
    height: 500rem;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Import section-specific styles */
@import url('navbar.css');
@import url('hero.css');
@import url('history.css');
@import url('about.css');
@import url('ticketing.css');
@import url('gallery.css');
@import url('information.css');
@import url('footer.css');