.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent !important;
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo img {
    height: 40px;
  }
  
  .nav-toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-links a {
    color: var(--color-white);
    font-size: var(--font-size-medium);
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: var(--font-family-merriweather);
  }
  
  .nav-links a:hover {
    color: var(--color-gold);
  }
  
  .social-links {
    display: flex;
    gap: 1rem;
  }
  
  .social-links a {
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: var(--color-gold);
  }
  
  .social-links i {
    font-size: 1.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        padding: 1rem;
    }
  
    .nav-toggle {
        display: block;
    }
  
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 300px;
        height: 100dvh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition: right 0.3s ease;
    }

    .social-links {
      display: none;
    }
  
    .nav-links {
        padding-top: 60px;
    }
  
    .nav-links a, .social-links a {
        font-size: 1.5rem;
        padding: 1rem;
    }
  
    .social-links {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        justify-content: center;
    }
  
    .nav-links.active, .social-links.active {
        right: 0;
    }
  }
  